span,
input {
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 1.75em;
  padding: .25em .5em .3125em;
  color: rgba(255, 255, 255, 0.5);
  border-radius: .25em;
  background: transparent;
  -webkit-transition: all .100s;
  transition: all .100s;
}
span:focus,
input:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.75);
}
span.keyup,
input.keyup {
  color: white;
  border-color: white;
  text-shadow: 0 0 .125em white;
  box-shadow: 0 0 .25em white,inset 0 0 .25em white;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}

html, body {
  height: 100%;
  overflow: hidden;
  color: #fff;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

html {
  background: #000 ;
}

body {
  box-shadow: inset 0 0 5em #000;
}

input {
  box-sizing: border-box;
  bottom: 4em;
  width: 11em;
}
